(
    lines: [
        (
            (-0.2, -0.2, 0.0),
            (0.2, 0.2, 0.0),
        ),
        (
            (0.2, -0.2, 0.0),
            (-0.2, 0.2, 0.0),
        ),
    ],
    colors: Uniform(
        Rgba(
            red: 10.0,
            green: 3.25,
            blue: 0.0,
            alpha: 5.0,
        ),
    ),
)
